<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Real BookStore</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Exercicios Apostila 2</a>
                    <div class="dropdown-menu">
                        @Html.ActionLink("Cap. 6 Laboratório 1 - Tarefas", "Index", "Tarefa", new { }, new { @class = "dropdown-item" })
                        <div class="dropdown-divider"></div>
                        @Html.ActionLink("Listar Tarefas", "ListarNovasTarefas", "Tarefa", new { }, new { @class = "dropdown-item" })

                        @*<a class="dropdown-item" href="#">Separador de Link</a>*@
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Editora</a>
                    <div class="dropdown-menu">
                        @Html.ActionLink("Cadastrar Editora", "Create", "RealBooks", new { }, new { @class = "dropdown-item" })
                        <div class="dropdown-divider"></div>
                        @Html.ActionLink("Listar Editoras", "ListarNovasEditoras", "RealBooks", new { }, new { @class = "dropdown-item" })
                        <div class="dropdown-divider"></div>
                        @Html.ActionLink("Consultar Editora", "Consultar", "RealBooks", new { }, new { @class = "dropdown-item" })
                        <div class="dropdown-divider"></div>
                        @Html.ActionLink("Consultar Livros", "ListarNovasEditoras", "RealBooks", new { }, new { @class = "dropdown-item" })
                        <div class="dropdown-divider"></div>
                        @Html.ActionLink("Listar Editoras", "ListarNovasEditoras", "RealBooks", new { }, new { @class = "dropdown-item" })
                        @*<a class="dropdown-item" href="#">Separador de Link</a>*@
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CONTATO</a>
                </li>

                <li class="nav-item">
                    @if ((Impacta.MOD.Usuario)HttpContext.Current.Session["Usuario"] != null)
                    {
                        @Html.ActionLink("Olá " + ((HttpContext.Current.Session["Usuario"] as Impacta.MOD.Usuario).Username.ToUpper()) +
                       "[Clique aqui p/ LOGOUT]", "Sair", "Autenticador", new {}, new { @class = "nav-link dropdown-toggle"})

                    }
                    else
                    {
                        @Html.ActionLink("LOGIN", "Entrar", "Autenticador", new { }, new { @class = "nav-link dropdown-toggle"})
                    }

                </li>

                <li class="nav-item">
                    @*<a class="nav-link" href="#">About</a>*@
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
